@import "../../../styles/variables";
@import "../../../styles/fonts";

.losed {
    cursor: not-allowed;
    pointer-events: none;

    .ctaBtn {

        &:before,
        &:after {
            border-color: $red;
        }

        .innerFill {
            background-color: transparent;
            border-left: 2px solid $red;
            border-right: 2px solid $red;
            color: $red;
            opacity: 1;
            -webkit-transition: none;
            transition: none;
            text-align: center;
            line-height: 16px;
            padding: 0 35px;

            &:before,
            &:after {
                background-size: 16px 24px;
                background-image: repeating-linear-gradient(-45deg, $red, $red 2px, transparent 0, transparent 15px);
                -webkit-transition: none;
                transition: none;
            }
        }
    }
}

.active {
    cursor: pointer;
}

.ctaBtn {
    display: inline-block;
    margin: 0 15px 15px 0;
}

.ctaBtn {
    background-color: transparent;
    border-radius: 0;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    // cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin: 5px auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    letter-spacing: 0;
    width: 75%;
    z-index: 10;
}

.ctaBtn:before {
    border-width: 2px 2px 0 0;
    right: 0;
}

.ctaBtn {
    &:before {
        @extend %ctaBeforeAfter;
        margin-left: 16px;
        top: 0;
        border-color: $default-white;
    }

    &:after {
        @extend %ctaBeforeAfter;
        border-color: $default-white;
    }

    div {
        display: block;
        text-align: center;
        @extend %MONTBOLD;
        font-size: 14px;
        height: 16px;
        text-transform: uppercase;

        &:before {
            @extend %ctadiv;
        }

        &:after {
            @extend %ctadiv;
        }
    }

    .innerFill {
        background-color: transparent;
        border-left: 2px solid $default-white;
        border-right: 2px solid $default-white;
        color: $default-white;
        opacity: 1;
        -webkit-transition: none;
        transition: none;
        text-align: center;
        line-height: 16px;
        padding: 0 35px;
    }
}



.ctaBtn .innerFill:after,
.ctaBtn .innerFill:before {
    background-size: 16px 24px;
    background-image: repeating-linear-gradient(-45deg, $default-white, $default-white 2px, transparent 0, transparent 15px);
    -webkit-transition: none;
    transition: none;
}

.ctaBtn div:after,
.ctaBtn div:before {
    border-color: transparent;
    border-width: 0 0 16px 16px;
    position: absolute;
}

.ctaBtn div:before {
    left: 0;
    top: 0;
}

.ctaBtn div:after,
.ctaBtn div:before {
    border-color: transparent;
    border-width: 0 0 16px 16px;
    position: absolute;
}

.ctaBtn div:after {
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ctaBtn:after {
    border-width: 0 0 2px 2px;
    left: 0;
}

%ctaBeforeAfter {

    -webkit-transition: none;
    transition: none;
    width: calc(100% - 16px);
    height: 16px;
    position: relative;
    @extend %ctadiv;
}

%ctadiv {
    border-style: solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    display: block;
}