@import "../../../styles/variables";

.mainscore {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: $red;

    .enumerator {
        @extend %MONTBOLD;
        color: $default-white;
        margin: 0px;
    }
}
