@import "../../../styles/variables";
@import "../../../styles/fonts";

.false {
    @extend %MONTREGULAR;
    color: $default-white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}