@font-face {
    font-family: 'Gasalt';
    src: url('../assets/fonts/Gasalt-Regular.eot');
    src: url('../assets/fonts/Gasalt-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gasalt-Regular.woff2') format('woff2'),
        url('../assets/fonts/Gasalt-Regular.woff') format('woff'),
        url('../assets/fonts/Gasalt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
