/* ------------ MAIN VARIABLES --------------- */
$default-black:#000;
$default-white:#fff;


/* -------------- MARVEL COLORS ------------ */
$marvel-red:#e62429;
$header-bg:#202020;


$gray:#B4B4B4;
$bodygray:#686868;
$red:#e62429;
$bg-color:#f8f9fa54;

/*------------ RGBA'S ------------------- */
$opacityWhite1:rgba(255,255,255,0.1);
$opacityBlack5:rgba(0, 0, 0, .5);

%GASALTREGULAR {
    font-family: 'Gasalt';
    font-weight: normal;
    font-style: normal;
}

%MONTTHIN {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-style: normal;
}

%MONTREGULAR {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
}

%MONTMEDIUM {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
}

%MONTBOLD {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}