@import "./../styles/variables";


.bluke {
    background: red;
}
nav {
    background: $header-bg;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .logo {
        height: 100%;
        img {
            width: 100%;
        }
    }
    ul {
        display: flex;
        justify-content: flex-end;
        margin: 23px 0px;
        li {
            .label {
                position: relative;
                font-size: 18px;
                font-weight: bold;
                padding: 5px 20px;
                display: block;
                text-decoration: none;
                color: $default-white;
            }

            &.btn {
                display: inline-block;
                position: relative;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0px;
                }

                &:hover {
                    svg {
                        rect {
                            stroke-dasharray: 50 0;
                            stroke-dashoffset: 50;
                        }
                    }
                }

                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: visible;

                    rect {
                        fill: $marvel-red;
                        stroke: $default-white;
                        stroke-width: 2px;
                        stroke-dasharray: 47 3;
                        transform-origin: 50% 50%;
                        transform-box: fill-box;
                        transform: skewX(-10deg) scale(1, -1);
                        transition: all 0.75s;
                    }
                }
            }
        }
    }
}