@import "../styles/variables";
@import "../styles/fonts";



.mainElement {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .gamePlace {
        width: 85%;
        // height: 400px;
        padding:25px;
        background: linear-gradient(0deg, rgba(94, 97, 94, 0.66), rgba(101, 90, 90, 0.88)),
            url("../assets/img/mainImg/bg.jpg");
        box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        .mainGameInfo {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: calc(33% - 40px);
            h3 {
                @extend %title;
            }
            .rules {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                span {
                    @extend %MONTBOLD;
                    color: $default-white;
                }
            }
        }

        .heroImageContainer {
            width: calc(33% - 40px);

            // added for effect
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 300px;
            background: $bg-color;
            box-sizing: border-box;
            overflow: hidden;
            box-shadow: 0 20px 50px $red;
            border: 2px solid $red;
            color: $default-white;
            padding: 15px;
            &:before {
                content: '';
                position:absolute;
                top:0;
                left:-100%;
                width:100%;
                height:100%;
                background: $opacityWhite1;
                transition:0.5s;
                pointer-events: none;
            }
            span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                box-sizing: border-box;
                &:before {
                    content: '';
                    position: absolute;
                    width:100%;
                    height: 2px;
                    background: $default-white;
                    animation: animate 4s linear infinite;
                }
                &:nth-child(1){
                    transform:rotate(0deg);
                }
                &:nth-child(2){
                    transform:rotate(90deg);
                }
                &:nth-child(3){
                    transform:rotate(180deg);
                }
                &:nth-child(4){
                    transform:rotate(270deg);
                }
            }
            .guessWho {
                width: 100%;
                max-height: 100%;
                height: 300px;
                text-align: center;
                object-fit: contain;
            }
        }

        .hint {
            display: flex;
            flex-direction: column;
            width: calc(33% - 40px);
            h3 {
                @extend %title;
            }
            .hintList {
                margin-bottom: 10px;
                text-align: right;
                margin-right: 20px;
            }
        }
    }

    .activeStart {
        @extend %active;
        background: $red;
    }

    .passiveStart {
        @extend %active;
        background: $gray;
        box-shadow: 1px 1px 5px $opacityBlack5;
    }
    .theGameIsNotStartedYet {
        width: 100%;
        display: flex;
        justify-content: center;
        @extend %title;
        h4 {
            font-size: 18px;
            display: flex;
            align-items: center;
        }
    }
    .listofanswers {
        background: url("../assets/img/mainImg/menu-extra.png") top right repeat-x;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .75), inset 0 -5px rgba(0, 0, 0, .26);
        background-color: rgba(0, 0, 0, .4);
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        transition: all 0.5s;
        height: 64px;

        .variant {
            width: 50%;
            text-align: center;
            cursor: pointer;
            h4 {
                color: $default-white;
                @extend %GASALTREGULAR;
            }
            &:hover {
                h4 {
                    background-image: linear-gradient(0deg, rgba(94, 97, 94, 0.51), rgba(101, 90, 90, 0.62));
                }
            }
        }
    }
}

%active {
    height: 90px;
    width: 90px;
    cursor: pointer;
    color: $default-white;
    display: flex;
    justify-content: center;
    align-items: center;

}
%title {
    @extend %MONTREGULAR;
    text-align: center;
    color: $default-white;
}

@keyframes animate {
    0% {
        transform:scaleX(0);
        transform-origin: left;
    }
    50%
    {
        transform:scaleX(1);
        transform-origin: left;
    }
    50.1%
    {
        transform:scaleX(1);
        transform-origin: right;
    }
    100%
    {
        transform:scaleX(0);
        transform-origin: right;
    }
}